body{
    --rojo: red;
    background: skyblue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#layout{
    /*
    Flex dev'essere inserito nel container, 
    L'ampiezza default è di 100% 
    del contenitore.
    */
    display: flex;

    /*Si adatta al contenuto*/
    /*display: inline-flex;*/

    /*Direction Vertical-Horizontal*/
    /*
    flex-direction: row;
    flex-wrap: wrap;
    */
    flex-flow: row wrap;
    /*
    justify-content: space-between;    
    justify-content: space-evenly;
    */
    justify-content: space-around;

    height: 600px;
    align-items: flex-start;
    border: 3px solid black;
    padding: 5px;
}

.caja{
    /*Dà la stessa scala a tutti gli elementi, responsivo*/

    flex-grow: 1;    

    /*flex basis stabilisce misura base*/
    /*flex-basis: 25%;*/
    /*
    flex-basis: calc((100% / 3) - 68px);
    */
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 20px;
    border: 4px solid #222222;
    margin: 10px;
    background: gray;
}

/*Ordena elementi contenuti*/
.caja.red{
    /*order: 1;*/
    /*
    flex-grow: 5;
    */
    align-self: flex-start;
    background: var(--rojo);
}
.caja.green{
    /*order: 2;*/
    align-self: center;
    background: green;
}
.caja.blue{
    /*order: 3;*/
    /*
    flex-grow: 0;
    flex-shrink: 0;
    */
    align-self: center;
    background: blue;
}
.caja.orange{
    /*order: 4;*/
    /*
    flex-grow: 5;
    */
    /*
    flex-basis: 100%;
    */
    align-self: flex-end;
    background: orange;
}