*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 20px;
    padding: 40px;
    border: 1px black solid;
}
#container{
    display: flexbox;
    max-width: 1020px;
    border: lightcoral 5px solid;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.boxes{
    display: block;
    width: 250px;
    height: 250px;
    background-color: lawngreen;
    border: 10px solid violet;
    margin: 50px 15px 50px 15px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    float: left;
}
.boxes p{
    font-weight: bold;
    text-align: center;
    font-family: 'Open sans';
    font-size: 20px;
    /*250 height - 20 size = 230 px + 5 px*/
    line-height: 235px;
}
.clearfix{
    float: none;
    clear: both;
}
h2{
    margin-top: 15px;
    margin-bottom: 15px;
}
.p2{
    margin-top: 15px;
    margin-bottom: 15px;
}
footer{
    margin-top: 20px;
    margin-bottom: 20px;
}
