body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/*------------EJERCICIO COMPLETO-----------*/
#website *{
    margin: 0px;
    padding: 0px;
}

#website{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 150px 70px 1fr 70px;
    width: 75%;
    height: 1000px;
    margin: 0px auto;
    border: 1px solid #ccc;
}

#cabecera{
    background-color: royalblue;
    color: white;
    grid-column: 1 / 6;
}

#menu{
    background: skyblue;
    color: black;
    grid-column: 1 / 6;
}

#menu ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#contenido{
    background: #eee;
    grid-column: 1 / 5;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    padding: 20px;
}

#contenido article{
    background: #ccc;
    border: 1px solid slateblue;
}

#lateral{
    background-color: orange;
    color: white;
    grid-column: 5 / 6;
}

#footer{
    background: black;
    color: white;
    grid-column: 1 / 6;
}

/*-----------EJEMPLOS----------------------*/


.layout{
    width: 80%;
    min-height: 400px;
    margin: 0px auto;

    /*Definir el grid layout*/
    display: grid;

    /*
    Espacio entre elementos grid.
    calcula automaticamente los elementos que tiene que tener cada caja.
    */
    grid-gap: 10px;

    /*Definir columnas el grid layout
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: repeat(3, calc(25% - 10px)) calc(25%);
    */
    grid-template-columns: repeat(3, 1fr);

    /*Rows*/
    grid-template-rows: repeat(2, 1fr) repeat(1, 3fr) repeat(2, 1fr);

    padding: 10px;
    border: 1px solid orangered;
}
.caja{
    padding: 20px;
    border: 3px solid black;
    background-color: gray;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.caja.red{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: red;
}
.caja.blue{
    grid-column: 2 / 4;
    background-color: blue;
}
.caja.green{
    grid-row-start: 2;
    grid-row-end: 6;
    background-color: green;
}
.caja.pink{
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    background-color: pink;
}
.caja.orange{
    grid-row: 3 / 5;
    background-color: orange;
}
.caja.medturquoise{
    /*
    grid-column-start: 1;
    grid-column-end: 3;
    */
    grid-column: 2 / 4;
    background-color: mediumturquoise;
}

@media (max-width: 438px){
    .layout{
        width: 90%;
    }
}
@media (max-width: 390px){
    .caja.red{
        /*
        width: 79%;
        */
    }
    .caja.blue{
        /*width: 66%;*/
    }
    .caja.pink {
        grid-column: 2 / 4;
        grid-row: 3 / 4;
    }
    .caja.orange {
        grid-row: 4 / 5;
        grid-column: 2 / 4;
    }
}