/*
Ejsercizio completo con css
1- Craere doc html e vincolarlo con css
2- Creare una struttura html che abbia 
un container generale, header, menu, 
side bar,
sezione di contenuto principale, elementi
dentro del container principale e footer.
3- Tutto il contenuto dev'essere dentro al
container generale di ampiezza 1200px 
e centrale.
4- Header deve occupare il 100% 
di ampiezza ed avere un testo grande 
centrale.
5- Menu contiene elementi uno a fianco 
dell'altro.
6- Il contenuto principale dev'essere 
ampio 70%.
7- Il contenuto dentro del container 
principale dev'essere una quadro con 4 
linee di 2 boxes.
8- La barra laterale deve avere 
un'ampiezza del 30%
9- Il footer deve avere un'ampiezza del 
100% del div che lo contiene ed essere
al di sotto di tutto.
*/

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Tahoma, Geneva, Verdana, sans-serif;

}
#header{
    width: 100%;
    height: 100px;
    background-color: rgb(15, 118, 236);
    color: white;
    line-height: 90px;
}
.section_title{
    text-align: center;
    font-weight: 700;
    font-size: 45px;
}
#menu{
    background-color: whitesmoke;
}
#menu ul li{
    display: block;
    float: left;
    border-right: 1px solid lightgray;
}
#menu ul li a{
    display: block;
    padding: 15px;
    color: rgb(128, 128, 128);
}
#menu ul li:hover{
    background-color: rgb(15, 118, 236);
    cursor: pointer;
}
#menu ul li:hover a{
    color: whitesmoke;
}
#generale{
    width: 1200px;
    margin: 0px auto;
    margin-top: 20px;
    background-color: lightgray;
    border: 0px solid;
}
.clearfix{
    float: none;
    clear: both;
}
#contenuto{
    display: block;
    width: 70%;
    background-color: lightslategray;
    border: 0px solid;
    float: left;

}
#lateral .box > h2{
    text-align: center;
    margin: 10px 0px;
    padding: 5px;
    border-bottom: 1px grey solid;
}
#lateral > p{
    padding: 15px;
}
#lateral{
    float: left;
    width: 30%;
    background-color: lightsteelblue;
    border: px solid;
    /*min-height: 1209px;*/
    min-height: 500px;
    max-height: 1209px;
    text-align: center;
    overflow-y: scroll;
    text-align: justify;
}
#contenuto > h2{
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    color: whitesmoke;
    text-shadow: 260px -10px 3px white;
}
#contenuto .box{
    position: relative;
    width: 40%;
    height: 250px;
    /* o margin 5% */
    margin: 20px 42px;
    background-color: lightgrey;
    border: 5px solid lightcoral;
    float: left;
    text-align: center;
    line-height: 230px;
    text-transform: uppercase;
    box-shadow: 0px 0px 15px aqua;
}
#contenuto .box:hover{
    background-color: palegreen;
    color: cornflowerblue;
}
#contenuto .box2-sombra-interior{
    box-shadow: 0px 0px 15px indigo inset !important;    
}
#contenuto .box2-border{
    border-radius: 200px 200px 200px 200px;
}
#contenuto .box3-color:hover{
    background-color: lightcoral;
    color: yellow;
}
#contenuto .box5-color{
    box-shadow: 0px 0px 15px yellow;
    border-radius: 50% 0% 0% 50%;
}
.footer{
    width: 100%;
    height: 55px;
    line-height: 55px;
    text-align: center;
    color: black;
}
.libre1{
    position: fixed;
    width: 50px;
    height: 50px;
    top: 52%;
    background-color: rgb(20, 90, 220);
    font-size: 15px;
    text-align: justify;
    z-index: 10;
}
.libre2{
    position: fixed;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 25px;
    font-size: 15px;
    background-color: rgb(128, 214, 240);
    text-align: justify;
    z-index: 11;
}
.fixed-box{
    position: fixed;
    width: 50px;
    height: 50px;
    left: 0px;
    bottom: 0px;
    background-color: lightseagreen;
}