@media (max-width: 415px){
    #header{
        min-width: 0px;
        width: 100%;
    }
    #header #logotype {
        width: 45%;
        margin: 0px auto;
    }
    #header #logotype img {
        display: block;
        text-align: center;
        margin: 0px auto;
        width: 140px;
    }
    #content{
        width: 100%;
        min-width: 0px;
    }
    #aside {
        width: 80%;
        margin: 10%;
    }
    #sections{
        width: 90%;
    }
}
@media (max-width: 389px){
    #header h1 a {
        font-size: 35px;
    }
}
@media (max-width: 348px){
    #header h1 a {
        font-size: 30px;
    }
}
